* {
  box-sizing: border-box;
  font-family: 'Nokora', sans-serif;
}

body {
  margin: 0;
}

/* HEADER */

.logo {
  width: 20%;
  margin: 0.4em;
}

.nav-link {
  font-weight: bold;
  color: #033159;
}