* {
  box-sizing: border-box;
  font-family: 'Nokora', sans-serif;
}

body {
  margin: 0;
}

/* HEADER */

nav {
  display: flex;
  align-items: center;
  background-color: #c40202;
  padding: 1.5em;
}

.logo {
  width: 20%;
  border-radius: 4px;
}

.nav-links {
  display: flex;
  gap: 1.5em;
}

.nav-links > * {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}